<mat-card class="card mat-elevation-z8">
    <mat-card-header>
        <mat-card-title>Help Desk</mat-card-title>
        <mat-card-subtitle>Desenvolvido por Elizio neto</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="assets/img/home-image.svg" alt="Image Home Help Desk">
    <mat-card-content>
        <p>
            <br />
            Este projeto foi desenvolvido para gerenciar chamados
            em um cenário simulado de Help Desk, utilizando
            Angular 12 no frontend,<br /> e um backend robusto em Java 11 e
            um banco de dados MySQL, rodando em contêineres para
            facilitar o deploy e a manutenção.
            <br /> O sistema explora conceitos como SPAs,
            autenticação e autorização com JWT, 
            além de ser completamente containerizado com Docker e
            orquestrado com Docker Compose.
            <br />
            <br /> O código-fonte está disponível no GitHub,
             e você é convidado a testar e deixar sugestões.
            <br /> Desenvolvido por Elizio Neto
        </p>
    </mat-card-content>
</mat-card>